<section class="flex flex-column container-center">
  <h1 class="text-bold">¿Qué tipo es tu proyecto?</h1>
  <div class="row1-container">
    <a routerLink="../Cotizador/project/movil" class="box box-down cyan flex flex-column container-center">
      <i class="bx bx-laptop lg txt-cyan"></i>
      <h2>Movil</h2>
      <p>Lorem ipsum dolor sit amet.</p>
    </a>
    <a routerLink="../Cotizador/project/web" class="box box-down red flex flex-column container-center">
      <i class="bx bxs-mobile lg txt-red"></i>
      <h2>Web</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, rem!</p>
    </a>
  </div>
</section>
